<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h1 class="text-center">My tasks</h1>
      <ul class="fa-ul">
        <% @tasks.each do |task| %>
          <% if task.completed == true %>
          <li> <i class="far fa-check-square"></i> <%=  link_to task.title , task_path(task.id) %> <i class="far fa-trash-alt"></i> <%= link_to "Delete", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %></li>
          <% else %>
          <li> <i class="far fa-square"></i> <%=  link_to task.title , task_path(task.id) %> <i class="far fa-trash-alt"></i> <%= link_to "Delete", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %></li>
          <% end %>
        <% end %>

      </ul>
      <p class="text-center"><i class="far fa-plus-square"></i> <%= link_to "Create New Task", tasks_new_path %></p>
    </div>
  </div>
</div>
